<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo-alborada-corto.jpg" alt="Alborada logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">{{ .Site.Data.footer.title }}</p>
			<p>{{ .Site.Data.footer.blurb }}</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">ALBORADA</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Inicio</a></li>
					<li><a href="/products" class="link">Nosotros</a></li>
					<li><a href="/values" class="link">Acerca</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contacto</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Más info</h3>
				<ul class="mb3">
					<li><a href="/post/" class="link">Últimas novedades</a></li>
					<li><a href="/contact" class="link">Agenda una cita</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Redes Sociales</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://wa.me/543765042085" "svg" "icons-whatsapp" "alt" "Alborada on WhatsApp") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/yerbamatealborada/" "svg" "icons-instagram" "alt" "Alborada on Instagram") }}
					{{ partial "social-icon" (dict "link" "mailto:alboradayerbamate@gmail.com" "svg" "icons-google" "alt" "Contact Alborada via Email") }}
					{{ partial "social-icon" (dict "link" "https://www.google.com/maps/d/u/0/viewer?usp=sharing&fbclid=PAZXh0bgNhZW0CMTEAAaY6BmVCizQhMEKn_1Xa-K1PEPIB08NwjCFu7v6FtWh11KPknl9ZRUtdlKE_aem_SUWxizoHl14UVafu3VHCvg&mid=1i6_KbhPl3Wwqpjs2EjCRjBzHdAgMzaE" "svg" "icons-map" "alt" "Find Alborada Products on Google Maps") }}
				</ul>
				
			</div>

		</div>
	</div>

</footer>

